*.conf
*.crt
*.db*
*.key
*.token
*~
.HA_VERSION
.cloud
.spotify-token-cache
.storage
.uuid
aircast.xml
deps
home-assistant.log*
known_devices.yaml
secrets.yaml
tts
.google_maps_location_sharing.cookies
custom_components
www/**
themes
dwains-dashboard
node-red/**
nest/**
homeassistant
zigbee2mqtt/configuration_backup*
zigbee2mqtt/migration*
