default_config:
homeassistant:
  customize: !include customize.yaml

frontend:
  themes: !include_dir_merge_named themes

scene: !include scenes.yaml
automation: !include automations.yaml
script: !include scripts.yaml
sensor: !include sensors.yaml
rest: !include rest.yaml
yahoofinance: !include yahoofinance.yaml

http:
  use_x_forwarded_for: true
  trusted_proxies:
    - 127.0.0.1
    - 172.30.33.0/24
    - 192.168.1.3
    - 192.168.1.4

logger:
  logs:
    custom_components.pitboss: debug
    pytboss: info
  filters:
    custom_components.audiconnect.audi_connect_account:
      - ".*: 403, .*"
      - ".*status=403.*"
      - ".*SSLCertVerificationError.*"
    custom_components.pitboss:
      - ".*Manually updated pitboss data.*"
# influxdb:
#   host: a0d7b954-influxdb
#   port: 8086
#   database: homeassistant
#   username: homeassistant
#   password: !secret influxdb_password
#   max_retries: 3
#   default_measurement: state
