{% macro get_shade_position(entity_id) -%}
  {%- set _labels = labels(entity_id) -%}
  {%- set _manual = "manual_open" in _labels and "manual_close" in _labels -%}
  {%- set _current_pos = state_attr(entity_id, 'current_position') -%}
  {%- if _manual or ("blackout" not in _labels and "privacy" not in _labels) -%}
    {{ _current_pos }}
  {%- else -%}
    {%- set _shade_type = iif('blackout' in _labels, 'blackout', 'privacy') -%}
    {%- set _specific_id = entity_id | regex_replace("^cover\." ,"sensor.") + "_position" -%}
    {%- set _fallback_id = 'sensor.' + _shade_type + '_shades_position' -%}
    {%- set _specific_state = states(_specific_id) -%}
    {%- set _fallback_state = states(_fallback_id) -%}
    {%- if _specific_state == 'unknown' -%}
      {%- if _fallback_state == 'on' -%}
        100
      {%- elif _fallback_state == 'unknown' -%}
        -1
      {%- else -%}
        0
      {%- endif -%}
    {%- else -%}
      {{ _specific_state }}
    {%- endif -%}
  {%- endif -%}
{%- endmacro %}
