esphome:
  name: living-room-esphome
  friendly_name: Living Room ESPHome

esp32:
  board: esp32dev
  framework:
    type: esp-idf

# Enable logging
logger:
  level: INFO

# Enable Home Assistant API
api:
  encryption:
    key: "YF0Q9A64LnDuYBXcpXT+MIK8yffk86G8BmfFrxQlRlU="

ota:
  - platform: esphome
    password: "9f585a4afe4ffc8739bc18862f6e44f5"

wifi:
  ssid: !secret wifi_ssid
  password: !secret wifi_password

  # Enable fallback hotspot (captive portal) in case wifi connection fails
  ap:
    ssid: "Living-Room Fallback Hotspot"
    password: "esphome1"

captive_portal:
    
# esp32_ble_tracker:
#   scan_parameters:
#     interval: 1100ms
#     window: 1100ms
#     active: true

bluetooth_proxy:
  active: true

esp32_ble_beacon:
  type: iBeacon
  # casa.knowles.xyz
  uuid: '63617361-2e6b-6e6f-776c-65732e78797a'
  major: 1
  minor: 1

button:
  - platform: restart
    name: "Restart"

sensor:
  - platform: uptime
    type: seconds
    name: Uptime

  - platform: wifi_signal # Reports the WiFi signal strength/RSSI in dB
    name: "WiFi Signal dB"
    id: wifi_signal_db
    update_interval: 60s
    entity_category: "diagnostic"

  - platform: copy # Reports the WiFi signal strength in %
    source_id: wifi_signal_db
    name: "WiFi Signal Percent"
    filters:
      - lambda: return min(max(2 * (x + 100.0), 0.0), 100.0);
    unit_of_measurement: "%"
    entity_category: "diagnostic"
    device_class: ""

  - platform: bh1750
    name: "illuminance"
    address: 0x23
    update_interval: 1s
    filters:
      - heartbeat: 5s
      - debounce: 0.5s
      - throttle_average: 10s

i2c:
  sda: 21
  scl: 22
  scan: true
  id: bus_a
