esphome:
  name: mud-room-esphome
  friendly_name: Mud Room ESPHome

esp32:
  board: esp32dev
  framework:
    type: esp-idf

# Enable logging
logger:
  level: INFO

# Enable Home Assistant API
api:
  encryption:
    key: "oPzESVukNnHq8CFgr3b2BgUVYEJPIf3hozBtY2fw0iA="

ota:
  - platform: esphome
    password: "8d7ec2c7e752051b9307a9d4dc889d39"

wifi:
  ssid: !secret wifi_ssid
  password: !secret wifi_password

  # Enable fallback hotspot (captive portal) in case wifi connection fails
  ap:
    ssid: "Mud-Room-Esphome"
    password: "esphome1"

captive_portal:

# esp32_ble_tracker:
#   scan_parameters:
#     interval: 1100ms
#     window: 1100ms
#     active: true

bluetooth_proxy:
  active: true

esp32_ble_beacon:
  type: iBeacon
  # casa.knowles.xyz
  uuid: '63617361-2e6b-6e6f-776c-65732e78797a'
  major: 1
  minor: 3

button:
  - platform: restart
    name: "Restart"

sensor:
  - platform: uptime
    type: seconds
    name: Uptime

  - platform: wifi_signal # Reports the WiFi signal strength/RSSI in dB
    name: "WiFi Signal dB"
    id: wifi_signal_db
    update_interval: 60s
    entity_category: "diagnostic"

  - platform: copy # Reports the WiFi signal strength in %
    source_id: wifi_signal_db
    name: "WiFi Signal Percent"
    filters:
      - lambda: return min(max(2 * (x + 100.0), 0.0), 100.0);
    unit_of_measurement: "%"
    entity_category: "diagnostic"
    device_class: ""
